.page-header {
	margin-top: 0;
}

.panel-body {
	padding-top: 0;

}

.featuredImg {
	margin-bottom: 15px;

}

.hello {

	font-size: 15px;
	font-family:"Georgia", Times, Serif;
}

.head {

	font-family:"Georgia", Times, Serif;


}